body {
    font-family: Helvetica Neue, Helvetica, Arimo, Liberation Sans, Lucida Grande, sans-serif;
    background:#fef4a9;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: Times, Georgia, Linux Libertine, Cambria, serif;
  }
  
  h4 a,
  .list-inline li a {
    color: white !important;
    text-decoration: underline !important;
  }
  
  h4 a:hover {
    text-decoration: none;
    color: #3b9a9c;
  }
  
  .pageTitle,
  .titleNote {
    background-color: rgba(12, 33, 38, 0.5);
    color: white;
  }
  
  /* .search_box,
  .searchSubmit,
  #randomPage {
    height: 4rem;
    min-height: 1.2em;
    line-height: 1.6rem;
    vertical-align: middle;
    display: inline-block;
    margin: 2.2rem auto 1.5em;
    padding: .5rem 1rem;
  } */
  .form-group{
    margin-top: 2rem;
  }
  /* .search_box {
    font-size: 1.5rem;
    width: 400px;
    background: #fff;
    border: .5px solid #ccc;
    box-shadow: inset 0 0 0 .1em #ccc;
    border-radius: .5em;
  }
   */
  .searchSubmit,
  #randomPage {
    font-weight: 70;
    margin: 1rem 0;
    color: #fff;
    cursor: pointer;
    background-color:#4bc2c5;
    border: 1px solid#4bc2c5;
    text-align: center;
  }
  
  #randomPage a {
    color: #fff;
  }
  /* RESULTS */
  
  .resultDisplay {
    
  }
  
  .results {
    font-size: 2rem;
    max-width: 800px;
    background: #fef4cf;
    box-shadow: inset 0 0 0 .1em rgb(234, 240, 239);
    border-radius: .5em;
    padding: 1rem;
    margin: .2rem;
  }
  
  
  .extract {
    font-size: 12px;
  }
  
  
  /* Sticky Footer
  http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
  
  * {
    box-sizing: border-box;
  }
  

  
  .wrapper {
    min-height: 100%; 
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    height: 100%; 
    margin: 0 auto -4em; /*Allow for footer height*/
  
  }
  
  .footer,
  .push {
    
  }
  
  .footer {
    height: 3rem;
    background-color: #3b9a9c;
  }
  

  .copyright {
    color: white;
  }



  